html {
}

body {
    padding: 0px 200px 200px;
}

h1 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-style: normal;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-style: oblique;
    font-weight: 700;
    text-align: center;
}

h3 {
    margin-top: 100px;
    font-family: Futura; font-style: normal;
    font-weight: 400;
    text-align: center;
}

p {
    font-family: "Century Gothic", CenturyGothic, AppleGothic;
    font-weight: 700;
}

.product {
    width: 100%;
}

.logo {
    width: 20%;
}

.center {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    padding-bottom: 100px;
    padding-top: 100px;
}

body {
    
}